*{
    margin: 0;
}

@font-face {
    font-family: 'sessao';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'sobre';
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'nome';
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

body{
    background-image: url(../img/wp2682996.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}




.container-menu-opcao a:nth-of-type(4){
    transform: scale(95%);
    border-bottom: 1px solid white;
}

.sessao_menu{
    position: static;
    display: flex;
    gap: 30%;
    width: 100%;
    height: 10%;
    display: flex;
    padding-top: 1%;
    font-family: 'sessao';
    justify-content: space-around;
}


.container-menu-opcao{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 25%;
}


@media (max-width:768px){
    .container-menu-opcao{
        font-size: 12px;
    }
    .nome{
        font-size: 13px;
    }
}

.container-menu-opcao a{
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: white;
    
}


.container-menu-opcao a:hover{
    transition: all .5s;
    border-bottom: 1px solid white;
    cursor: pointer;
    transform: scale(95%);
}

.sessao_menu div:nth-of-type(1){
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-family: 'nome';
    
}

.container{
    background-color: rgba(0, 0, 0, 0.297);
    width: 80%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.container-download{
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-download a{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    font-family: 'nome';
    transition: all .5s;
    font-size: 1.5rem;
}

.container-download a:hover{
    background-color: white;
    color: black;

}


.container-game{
    width: 50%;
    height: 80%;
    border: 2px solid white;
    border-radius: 5px;
}




