*{
    margin: 0;
}

@font-face {
    font-family: 'sessao';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'sobre';
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'nome';
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

body{
    background-image: url(../img/wp2682996.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}




.container-menu-opcao a:nth-of-type(2){
    transform: scale(95%);
    border-bottom: 1px solid white;
}

.sessao_menu{
    position: static;
    display: flex;
    gap: 30%;
    width: 100%;
    height: 10%;
    display: flex;
    padding-top: 1%;
    font-family: 'sessao';
    justify-content: space-around;
}


.container-menu-opcao{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 25%;
}


.container-menu-opcao a{
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: white;
    
}


.container-menu-opcao a:hover{
    transition: all .5s;
    border-bottom: 1px solid white;
    cursor: pointer;
    transform: scale(95%);
}

.sessao_menu div:nth-of-type(1){
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-family: 'nome';
    
}

.container{
    background-color: rgba(0, 0, 0, 0.297);
    width: 80%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}

.container-conteudo{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}


.projeto {
    background-color: rgb(11,13,20);
    width: 13%;
    height: 250px;
    border-radius:5px;
    transition: all .2s;
    flex-direction: column;
    display: flex;
    font-family: 'nome';
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 20px;
}

@media (max-width: 1024px){
    .projeto{
        font-size: 13px;
    }
    .projeto{
        height: 200px;
    }
    .botao-projeto{
        font-size: 10px;
    }
}


@media (max-width:768px){
    .projeto{
        font-size: 10px;
    }
    .container-menu-opcao{
        font-size: 12px;
    }
    .nome{
        font-size: 13px;
    }
    .projeto{
        height: 150px;
    }
    .botao-projeto{
        font-size: 7px;
    }
}


@media(max-width:480px){
    .container-conteudo{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .projeto{
        margin-left: 0;
        width: 55%;
        height: 250px;
    }
    .botao-projeto{
        font-size: 15px;
    }
}


.projeto:hover {
 box-shadow: 0px 0px 15px 1px rgb(179,172,150);
 transform: scale(105%);
}

.container-img{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

/*
.container-img img{
    filter: grayscale(100%);
}

*/


.container-info{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.img-projeto{
    width: 70%;
    border-radius: 8px;
}

.botao-projeto{
    border: 2px solid rgb(179,172,150);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    font-family: 'nome';
    transition: all .5s;
}

.botao-projeto:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(95%);
}




::-webkit-scrollbar {
    width: 6px;
  }
  
::-webkit-scrollbar-track {
    background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}


.img_mais{
    width: 30%;
}

.img-git{
    width: 40%;
    border-radius: 8px;
}

.mais{
    display: flex;
    justify-content: center;
    align-items: center;
}

