*{
    margin: 0;
}

@font-face {
    font-family: 'sessao';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'sobre';
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'nome';
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

body{
    background-image: url(../img/wp2682996.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
}




.container-menu-opcao a:nth-of-type(3){
    transform: scale(95%);
    border-bottom: 1px solid white;
}

/**/
.sessao_menu{
    display: flex;
    height: 10%;
    display: flex;
    font-family: 'sessao';
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}


.container-menu-opcao{
    display: flex;
    gap: 50px;
}

.container-logo-sessao{
    position: relative;
    left: 2%;
}


.container-logo-sessao img{
    width: 60px;
    border-radius: 20%;
    filter: invert(100%); /* Aplica o filtro invert */
}



.container-menu-opcao a{
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: white;
    
}


.container-menu-opcao a:hover{
    transition: all .5s;
    border-bottom: 1px solid white;
    cursor: pointer;
    transform: scale(95%);
}




.container-menu-opcao a{
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: white;
    
}




.container-menu-opcao a:hover{
    transition: all .5s;
    border-bottom: 1px solid white;
    cursor: pointer;
    transform: scale(95%);
}



.container{
    background-color: rgba(0, 0, 0, 0.297);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}


::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2d2d2d;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

.container-conteudo{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

}


.container-download{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-download{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nome;
    transition: all .5s;
    box-shadow: 2px 2px 10px 1px white;
    backdrop-filter: blur(5px);
}

.botao-download:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transform: translate(5px, 5px);
    box-shadow: none;
}






.skils{
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skils img{
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.304);
    border: 1px solid white;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all .5s;
}



.skils img:hover{
    transform: scale(80%);
    filter: grayscale(0%);
}


.container-info-skils{
    display: flex;
    flex-direction: column;
    font-family: 'nome';
    flex-wrap: wrap;
    width: 50%;
}

.container-titulo{
    display: flex;
    justify-content: start;
    height: 50px;
    padding: 10px;
}

.titulo{
    font-size: 35px;
}

.desc{
    font-size: 20px;
    height: 100px;
    padding: 10px;

}





@media (max-width:768px){
    .container-menu-opcao{
        font-size: 12px;
    }
    .nome{
        font-size: 13px;
    }
    .skils{
        grid-template-columns: repeat(2, 1fr);
    }
    .desc{
        font-size: 17px;
    }
    .titulo{
        font-size: 25px;
    }
}

@media (max-width:480px){
    .container-conteudo{
        flex-direction: column;
        gap: 0;
    }

    .container-info-skils{
        width: 100%;
    }

    .container-download a{
        font-size: 14px;
        text-align: center;
        width: 40%;
        height: 40%;
    }
    

    
}