*{
    margin: 0;
}

@font-face {
    font-family: 'sessao';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'sobre';
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'nome';
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

body{
    background-image: url(../img/wp2682996.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
}




.container-menu-opcao a:nth-of-type(4){
    transform: scale(95%);
    border-bottom: 1px solid white;
}

.sessao_menu{
    position: static;
    display: flex;
    gap: 30%;
    width: 100%;
    height: 10%;
    display: flex;
    padding-top: 1%;
    font-family: 'sessao';
    justify-content: space-around;
}


.container-menu-opcao{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 25%;
}



.container-menu-opcao a{
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: white;
    
}


.container-menu-opcao a:hover{
    transition: all .5s;
    border-bottom: 1px solid white;
    cursor: pointer;
    transform: scale(95%);
}

.sessao_menu div:nth-of-type(1){
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-family: 'nome';
    
}

.container{
    background-color: rgba(0, 0, 0, 0.297);
    width: 80%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
    
}

.container-conteudo{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.container-download{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-download a{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    font-family: 'nome';
    transition: all .5s;
    font-size: 1.5rem;
}

.container-download a:hover{
    background-color: white;
    color: black;

}

.skils{
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skils img{
    width: 80px;
    background-color: rgba(0, 0, 0, 0.304);
    border: 1px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}



.skils img:hover{
    transform: scale(80%);
    filter: grayscale(0%);
}


.container-info-skils{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    height: 100%;
    font-family: 'nome';
    flex-wrap: wrap;
}

.titulo{
    font-size: 35px;
}

.desc{
    font-size: 20px;
}

.container-titulo{
    display: flex;
    justify-content: start;
}




@media (max-width:768px){
    .container-menu-opcao{
        font-size: 12px;
    }
    .nome{
        font-size: 13px;
    }
    .skils{
        grid-template-columns: repeat(2, 1fr);
    }
    .desc{
        font-size: 17px;
    }
    .titulo{
        font-size: 25px;
    }
}

@media (max-width:480px){
    .container-conteudo{
        flex-direction: column;
        gap: 0;
        width: 100%;
        height: 50%;
    }

    .container-info-skils{
        width: 90%;
        height: 50%;
    }

    .container-download a{
        font-size: 14px;
        text-align: center;
        width: 40%;
        height: 40%;
    }

    
}











